@import "video.js/dist/video-js.css";
* {
  margin: 0;
  padding: 0;
  
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  font-size: 14px;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

// colors

$dark: #30475E;
$orange: #F05454;
$gray: #F5F5F5;

// size
$xx-large: 1320px;
$x-large: 1140px;
$large: 960px;
$medium: 720px;
$small: 540px;

section {
  margin-bottom: 20px;
}

.container {
  margin: auto;
  max-width: $xx-large;
  display: flex;
  flex-wrap: wrap;
  opacity: 0;
  transition: opacity ease;
}

.fade-in{
  opacity: 1;
}

button, select {
  outline: none;
  cursor: pointer;
  font-size: 14px;
  border: none;
  padding: 10px 20px;
  background: $gray;
  border-radius: 2px;
  text-align: center;
  // display: flex;
  // align-items: center;
}
input {
  height: 40px;
  border: 1px solid $dark;
  border-radius: 3px;
  padding: 5px 10px;
  background-image: none;
  outline: none;

}
.rounded {
  border-radius: 25px;
}
.btn-dark {
  background: $dark;
  color: #fff;
}
.header {
    padding: 20px;
    display: flex;
    align-items: center;
    background: $dark;
    box-shadow: 0 0 8px rgb(0 0 0 / 8%);
    ul {
      list-style: none;
      li {
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
}
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}
.col {
  flex: 1;
}
.form-container {
  width: 40%;
  .add-new {
    button {
      font-weight: bold;
      display: flex;
      align-items: center;
    }
  }
  .return, .add {
    .material-icons {
      margin-right: 10px;
    }
  }
  span.return {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 20px;
  }

  
}

form {

  h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    label {
      margin-bottom: 5px;
    }
  }
  .error {
    color: $orange;
    display: none;
  }
}

.p25 {
  padding: 25px;
}
@-webkit-keyframes show {
  to {
    opacity: 1;
  }
}
@keyframes show {
  to {
    opacity: 1;
  }
}

@-webkit-keyframes hide {
  to {
    opacity: 0;
  }
}
@keyframes hide {
  to {
    opacity: 0;
  }
}
.items {
  .card {
    flex-direction: row;
    display: flex;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    height: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #ddd;
    border-radius: 5px;

    .point, .content {
      display: flex;
      flex-direction: column;
    }

    .point {
      border: 1px solid #ddd;
      border-radius: 5px;
      min-width: 80px;
      text-align: center;
      align-items: center;
      justify-content: center;

      .material-icons {
        display: none;
        font-size: 50px;
      }
      span {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 5px;
      }

      &:hover {
        cursor: pointer;
        span, label {
          display: none;
        }
        .material-icons {
          display: block;
        }
      }
    }
    .content {
      padding: 0px 10px;
      position: relative;
      display: flex;
      justify-content: space-between;
      width: calc(100% - 80px);


      .card-header {
        line-height: 15px;
      }
      .remove {
        display: none;
        position: absolute;
        right: 0;
        top: 0;

        cursor: pointer;
        span {
          color: $orange;
        }
      }
      strong {
        margin-bottom: 5px;
        display: block;
      }

      .votes {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        label {
          display: flex;
          align-items: center;
          cursor: pointer;
        }
        .material-icons {
          font-size: 18px;
        }
      }
    }
  }

  .card:hover {
    background: #f5f5f5;
    .content {
      .remove {
        display: block;
      }
    }
  }
   .active {
    .material-icons {
      display: block !important;
    }
    .point {
      span, label {
        display: none !important;
      }
    }
  }
}

.video-player, .video-js {
  width: 100%;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  opacity: 0;
  animation: show 0.5s ease-in-out forwards;
  -webkit-animation: show 0.5s ease-in-out forwards;
}


.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  width: 25%;
  text-align: center;

  .modal-header {
    background: $dark;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-bottom: 15px;
  }

  .modal-body {
    margin-bottom: 15px;
  }
  
  h3 {
    margin-bottom: 10px;
  }
  .modal-footer {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    #ok {
      margin-right: 10px;
    }
  }
}

.pagination {
  display: inline-block;
  margin-top: 20px;
  a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    
    .material-icons {
      font-size: 18px;
    }
  }
  .pager {
    &:hover, &.active {
      background-color: $dark;
      color: white;
    }
  }
}


.col-4 {
  max-width: 40%;
}

#message-box {
  .done{
    color: green;
    font-size: 60px;
  }
}

.video-js .vjs-big-play-button .vjs-icon-placeholder:before  {
  font-family: "Material Icons";
  font-style: normal;
  font-size: 100px;
}
.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
  content: "\e039";
}
.video-js .vjs-big-play-button, .video-js .vjs-big-play-button:focus{
  border: none;
  background: none;
  background-color: transparent !important;
}
.btn-add {
  width: 120px;
}

@media screen and (max-width: $small) {
  button, select {
    padding: 10px;
  }
  .add-new {
    .form-container {
      margin-top: 0px;
    }
  }
  
  form {
    width: 100%;
    padding: 25px;
  }
  .header {
    display: none;
  }
  .col-xs-12 {
    min-width: 100%;
  }

  .form-container, .player-wrapper {
    width: 100%;
  }
  .modal-content {
    width: calc(100% - 40px);
  }

  .form-container {
    margin-top: 310px;
    .add-new {
      float: left;
    }
    .filters {
      float: right;
    }
    .add-new, .filters { 
      width: 48%;
      select, button {
        width: 100%;
        height: 50px;
        font-weight: bold;
      display: flex;
      align-items: center;
      }
    }
  }
  .player-wrapper {
    position: fixed;
    top: 0;
  }
  .video-js {
    min-height: 310px;
  }
}
@media screen and (min-width: $medium) {
  .form-container {
    width: 50%;
    .add-new {
      padding-bottom: 20px;
      border-bottom: 1px solid #ddd;
      margin-bottom: 20px;
    }
  }
  .player-wrapper {
    width: 50%;
    display: flex;
  }
  .form-container, .player-wrapper {
    padding: 25px;
  }
  .video-player, .video-js {
    width: 100%;
    margin-top: 32px;
  }
  form {
    width: 50%;
    padding: 25px;
  }
}